
body {
  font-family: "Book Antiqua", "Goudy Old Style", Perpetua, serif;

  overflow-x: hidden;
}

.container {
  background-color: #F9F8F4;
  min-height:100vh;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #CCC;
}

.content{
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 80px;
}

@media (min-width:576px){.content{padding: 80px 5px 5px 5px}}
@media (min-width:768px){.content{padding: 80px 20px 20px 20px}}
@media (min-width:992px){.content{padding: 80px 20px 50px 20px}}
@media (min-width:1200px){.content{padding: 80px 30px 50px 20px}}


.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5d6971  ;
  -webkit-box-shadow: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px -2px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px -2px rgba(0,0,0,.1);
}




.game-time{
  color: #ffffff;
  margin-left: 30px;
  margin-right: 10px;
}

.background-image{
  background-attachment: fixed;
}

.btn-primary {
  color: #000;
  background-color: #c4bcb8;
  border-color: #666;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #a57f84;
  border-color: #333;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:visited {
  color: #fff;
  background-color: #a7541d;
  border-color: #CCC;
}



