

.gamecontrols{
    position: absolute;
    bottom: 0;
    background-color: #5d6971;
    padding: 15px;
    width: 100%;
    color: #ffffff;
    margin: 0 -17px;
}


.gamecontrols button{
    margin: 5px;
}
.gamecontrols .finalChoice{
    float: right;
}

@media (min-width: 576px){.gamecontrols {max-width: 540px; margin: 0 -22px;}}
@media (min-width: 768px){.gamecontrols {max-width: 720px; margin: 0 -37px;}}
@media (min-width: 992px){.gamecontrols {max-width: 960px; margin: 0 -37px}}
@media (min-width: 1200px){.gamecontrols {max-width: 1140px; margin: 0 -37px}}

