
body {
  font-family: "Book Antiqua", "Goudy Old Style", Perpetua, serif;
}

.container {
  background-color: #F9F8F4;
  min-height:100vh;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #CCC;
}

.content{
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 80px;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}
@media (min-width:576px){.content{padding: 80px 5px 5px 5px}}
@media (min-width:768px){.content{padding: 80px 20px 20px 20px}}
@media (min-width:992px){.content{padding: 80px 20px 50px 20px}}
@media (min-width:1200px){.content{padding: 80px 30px 50px 20px}}



.gamecontrols{
  position: absolute;
  bottom: 0;
  background-color: #5e4523;
  padding: 15px;
  width: 100%;
  color: #ffffff;
  margin: 0 -17px;
}


.gamecontrols button{
  margin: 5px;
}
.gamecontrols .nextseason{
  float: right;
}
.event-body h1{
  font-size: 1.3rem;
}

@media (min-width: 576px){.gamecontrols {max-width: 540px; margin: 0 -22px;}}
@media (min-width: 768px){.gamecontrols {max-width: 720px; margin: 0 -37px;}}
@media (min-width: 992px){.gamecontrols {max-width: 960px; margin: 0 -37px}}
@media (min-width: 1200px){.gamecontrols {max-width: 1140px; margin: 0 -37px}}


.navbar{
  -webkit-box-shadow: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px -2px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px -2px rgba(0,0,0,.1);
}


.season {
  position: absolute !important;
  top: -55px;
  right: 0;

  transition: transform 200ms;
}

.game-time{
  color: #ffffff;
  margin-left: 30px;
  margin-right: 10px;
}

.background-image{
  background-attachment: fixed;
}

.btn-primary {
  color: #fff;
  background-color: #a71d2a;
  border-color: #666;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #a57f84;
  border-color: #333;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:visited {
  color: #fff;
  background-color: #a7541d;
  border-color: #CCC;
}

